@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  color: black;
  background-color: white;
  font-family: "Aften Screen", system, -apple-system, \.SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
}
